<%= title "Home" %>

<main class="container custom-container mt-4">
  <div class="d-flex justify-content-between">
    <h1 class="fs-3 fw-normal"><%= params[:tab] == "most-votes" ? "Most Votes" : "Recent Questions" %></h1>  

    <div>
      <%= link_to "Ask Question", ask_question_path, class: "btn btn-primary"%> 
    </div>
  </div>
</main>
