<%= form_with model: [commentable, Comment.new], data: {comments__new_target: "form", action: "turbo:submit-end->comments--new#reset"}, class: "d-none" do |form| %>
  <div class="mb-3">
    <%= form.text_area :body, class: "form-control", required: true, data: {comments__new_target: "body"}, placeholder: "Add a comment" %>
  </div>
  <%= form.button(class: "btn btn-primary") { button_content "Comment"} %>
<% end %>

