<%= turbo_stream.replace "recentNotifications" do %>
  <div id="recentNotifications" data-notifications-target="recent">  
    <%= render @notifications %>
  </div>
<% end %>

<%= turbo_stream.replace "unreadNotificationsCount", partial: "notifications/unread_count" %>