.comments ul {
  padding:  0;
  --border-properties: 1px solid rgba(0,0,0,.125);
}

.comments ul li {
  list-style: none;
  padding: 0.5rem;
  border-bottom: var(--border-properties);
}

.comments ul li:first-of-type {
  border-top: var(--border-properties);
}