<div class="text-end" id="votes"> 
  <span class="small-text me-2"><%= pluralize(question.votes_count, 'Vote') %></span>
  <% if policy(question).vote? %> 
    <%= vote_button(question) %>
  <% end %>
  <%# Display a vote button for guest users so they will be redirected to login when they press it %>
  <%# Because above vote_button will not be displayed for guest users %>
  <%= vote_button(question) if current_user.nil? %>      
</div>
